<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @modifier_group.name %>
</p>

<%= link_to 'Edit', edit_modifier_group_path(@modifier_group) %> |
<%= link_to 'Back', modifier_groups_path %>
